.panel {
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	border-radius: 50px;
	color: #fff;
	cursor: pointer;
	flex: 0.5;
	margin: 10px;
	position: relative;
	transition: flex 0.5s ease-in;
	background-size: cover;
}
.panel h3 {
	font-size: 1.5rem;
	margin: 0;
	visibility: hidden;
}

.panel p {
	font-size: 1.2rem;
	max-width: 50ch;
	margin: 0;
	visibility: hidden;
}

.panel .overlay {
	position: absolute;
	align-items: center;
	bottom: 0;
	visibility: hidden;
	display: none;
	background-color: rgba(0, 0, 0, 0.65);
	flex-direction: row;
	justify-content: space-around;
	padding: 2rem;
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
}

.panel.active {
	flex: 5;
}

.panel.active h3,
.panel.active p {
	visibility: visible;
}

@media (max-width: 480px) {
	.container {
		width: 100vw;
	}
	.panel.active p {
		padding: 0 1rem;
		left: 0;
		top: 1.75rem;
	}
	.panel.active .overlay {
		height: 100%;
		flex-direction: column;
		border-radius: 50px;
	}
	.small-text {
		font-size: 3.5vmin !important;
	}
}
